/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info{
    width: 80%;
}
.left{
    float: left;
    max-width: 60%;
}

.right{
    float: left;
    max-width: 40%;
} */

.education table th td{
    border: 1px solid black;
}